.head-title {
    color: #6c757d;
    text-decoration: none;
    font-weight: bold;

}
.head-title:hover{
    color:blue;
    text-decoration: none;
    font-weight: bold;

}
.head-title.acitve{
    color:black;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

}